* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.invisible {
  display: none !important;
}

body {
  min-height: 100vh;
  background-color: antiquewhite;
}

.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#gameCanvas {
  width: 501px;
  height: 565px;
  position: relative;
  margin: 2rem 0;
}

#gameCanvas > img {
  position: absolute;
}

button.reset {
  width: max-content;
  border: none;
  background-color: lime;
  font-size: larger;
  margin: 0.5rem;
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-width: max-content;
  gap: 0.5rem;
  margin: 1rem 0;
}

button.character {
  background-color: white;
  font-size: 3rem;
  width: 75px;
  height: 75px;
  line-height: 0;
}

.box {
  border-radius: 10px;
}

button {
  padding: 0.7rem;
  cursor: pointer;
  outline: none;
}

.input-field {
  padding: 0.5rem;
  font-size: 2rem;
  text-align: center;
  outline: none;
  margin-top: 2rem;
}
